{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block content %}
    <div class="main-others">
        <h2>Gerer les campus</h2>

        <table class="listCampus">

            <tbody>
                {% for campus in campus %}
                    <tr>
                        <td>{{ campus.name }}</td>
                        <td>
                            <a href=""><button class="btn-sm-perso">Modifier</button></a>
                            <a href=""><button class="btn-sm-perso">Supprimer</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        <a href="{{ path('campus_add') }}"><button class="btn-lg-perso" >Ajouter Campus</button></a>
        <a href="{{ path('homepage') }}"><button class="btn-lg-perso" >Retour</button></a>
    </div>

{% endblock %}
