{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block content %}
    <div class="main-others">
        <h2>Gerer les villes</h2>

        <p>Filtrer les villes</p>


        <table class="listCities">
            <thead>
                <tr>
                    <td>Citiy</td>
                    <td>CP</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for city in cities %}
                    <tr>
                        <td>{{ city.name }}</td>
                        <td>{{ city.codePostal}}</td>
                        <td>
                            <a href=""><button class="btn-sm-perso">Modifier</button></a>
                            <a href=""><button class="btn-sm-perso">Supprimer</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('city_add') }}"><button class="btn-lg-perso" >Ajouter ville</button></a>
        <a href="{{ '' }}"><button class="btn-lg-perso" >Retour</button></a>
    </div>

{% endblock %}
