
<nav class="nav">
    <a href="{{ path('homepage') }}" class="nav-link">Accueil</a>
    <a href={{ path('monProfil') }} class="nav-link">Mon profil</a>
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('app_login') }}">Connexion</a>
    {% endif %}

</nav>