{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block h1 %}
    <h1></h1>
    <h1>Mon profil</h1>
{% endblock %}

{% block content %}
    <img src="{{ asset('images/profilePictures/' ~  user.profilePicture ) }}">

    {{ form_start(profilForm) }}
    {{ form_widget(profilForm) }}

    <button type="submit" class="noselect buttonAnim">Modifier Profil</button>
    {{ form_end(profilForm) }}

    <a href="javascript:history.go(-1)"><button class="btn btn-lg btn-primary" >Retour</button></a>

{% endblock %}
