{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <h1>Liste des sorties</h1>

    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button type="submit" class="noselect buttonAnim">Rechercher</button>
    {{ form_end(searchForm) }}


    {% if events is defined %}
        {% for event in events %}

            <div class="cardEvent">
                <p>Nom sortie: {{ event.name }}</p>
            </div>>

        {% endfor %}
    {% endif %}

{% endblock %}
